body {
  margin: 0;
}
a {
  text-decoration: none;
}
main {
  background-color: #f5f6f7;
  min-height: 720px;
  position: relative;
}
.content,
footer .top,
footer .bottom {
  width: 1000px;
}
.content {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.content .left {
  overflow: auto;
  /* border: 1px solid gray;*/
  width: 550px;
  float: left;
  position: relative;
  top: 100px;
}
.content .right {
  float: left;
}
.right .box {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}
.box .top {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #f5f6f7;
  padding-bottom: 20px;
}
#area-id,
#area-pw,
#area-login-button {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}
#area-id input,
#area-pw input,
#area-login-button input {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
#area-id input,
#area-pw input {
}
#area-login-button input {
  background-color: #1877f2;
  color: #fff;
  font-size: 1.3rem;
}

.box .bottom {
  padding-top: 20px;
}
#area-signup-button {
  text-align: center;
}
#area-signup-button button {
  height: 50px;
  width: 140px;
  border: 0;
  border-radius: 8px;
  background-color: #42b72a;
  font-size: 1.1rem;
  color: #fff;
}
