<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.homepi.dao.BoardDao">

  <insert id="writeBoard" parameterType="com.example.homepi.vo.BoardVo">
  	insert into post(title,contents,attach_file,write_date,empno)values(#{title},#{contents},'attach_file',now(),'홍길동');
  </insert>
  <select id="viewBoardList" resultType="com.example.homepi.vo.BoardVo">
  	select * from post order by postno;
  </select>
  <select id="viewBoard" resultType="com.example.homepi.vo.BoardVo">
  	select * from post where postno=#{postno};
  </select>
  <update id="updateBoard">
  	update post set
  		title=#{title},
  		contents=#{contents}
  		where postno=#{postno}::integer;
  </update>
  <delete id="deleteBoard">
  	delete from post
  		where postno=#{postno};
  </delete>
</mapper>
