<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.homepi.dao.UserDao">

  
  <select id="loginProc" resultType="com.example.homepi.vo.UserVo">
  	select name from "user" where id=#{id} and password=#{password};
  </select>
  
</mapper>
